= turbo_frame_tag "notifications" do
  = render partial: "notifications/notification", collection: @notifications.limit(10), cached: true
  - if @notifications.any?
    = link_to "See more notifications", notifications_path, class: "block px-4 py-3 text-gray-700 dark:text-gray-300 font-medium hover:bg-gray-100 dark:hover:bg-gray-800"
  .hidden.p-4.text-center.only:block
    .mb-2= t("notifications.empty")
    .text-gray-600{:class => "dark:text-gray-300/75"}= t("notifications.empty_description")
