- content_for :form_block do
  .mb-4.text-center
    %h2.mb-px= t('.sign_in')
  = form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: true, class: "form-control"
    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "current-password", placeholder: true, class: "form-control"
    - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me, class: "form-checkbox"
        = f.label :remember_me, class: "inline-block"
    .form-group
      = f.submit t('.sign_in'), class: "btn btn-primary btn-expanded"
  = render "devise/shared/links"
= render "devise/shared/form_block"
